.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  background: #222;
  width: 100%;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
